header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #555;
    color: #eee;
}

.pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.title {
    text-align: left;
}