.sidebar {
    max-width: 30%;
    padding: 20px;
    background-color: #eee;
}

.sidebar-section {
    padding-bottom: 20px;
}

.item {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}