:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

#app {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
}

img:hover {
	filter: drop-shadow(0 0 2em #024a);
}

p {
	text-align: justify;
	hyphens: auto;
}

a {
	color: #333;
	text-decoration: none;
}
 a:hover {
	text-decoration: underline;
	color: #24a;
 }

.main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem;
	text-align: left;
}

@media (max-width: 639px) {
	#app {
		margin: 0;
	}
}

/* @media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
} */
